[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dateutil = ">=2.6.0"
selenium = ">=3.4.3"
six = ">=1.10.0"
cryptography = ">=2.9.2"
typing = ">=3.7.4.1"
numpy = ">=1.18.4"
python-magic = ">=0.4.18"
python-resize-image = "==1.1.19"
Pillow = ">=7.1.2"

[dev-packages]

[requires]
python_version = "3.9"
